
apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicas.recommendation }}
  selector:
    matchLabels:
      app: recommendation
  template:
    metadata:
      labels:
        app: recommendation
    spec:
      containers:
        - name: recommendation
          image: {{ .Values.images.recommendation | quote }}
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: recommendation
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: recommendation
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
