apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalogue
  namespace: craftista
spec:
  replicas: 2
  selector:
    matchLabels:
      app: catalogue
  template:
    metadata:
      labels:
        app: catalogue
    spec:
      containers:
        - name: catalogue
          image: 132410971191.dkr.ecr.us-east-1.amazonaws.com/craftista-catalogue:sha-2305f20
          ports:
            - containerPort: 5000
          env:
            - name: FLASK_ENV
              value: "production"
          readinessProbe:
            httpGet:
              path: /api/products
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/products
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: catalogue
  namespace: craftista
spec:
  selector:
    app: catalogue
  ports:
    - port: 5000
      targetPort: 5000
  type: ClusterIP
