apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation
  namespace: craftista
spec:
  replicas: 2
  selector:
    matchLabels:
      app: recommendation
  template:
    metadata:
      labels:
        app: recommendation
    spec:
      containers:
        - name: recommendation
          image: 132410971191.dkr.ecr.us-east-1.amazonaws.com/craftista-recommendation:sha-2305f20
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: recommendation
  namespace: craftista
spec:
  selector:
    app: recommendation
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
